## Named to conform to airtable-schema-generator's expectations
REACT_APP_AIRTABLE_API_KEY='YOUR-API-KEY-HERE'
AIRTABLE_BASE_ID='DEV_OR_PROD'

## Needed for airtable-schema-generator if using auto mode
AIRTABLE_EMAIL='YOUR-EMAIL-HERE'
AIRTABLE_PASSWORD='YOUR-PASSWORD-HERE'
