## This AIRTABLE_BASE_ID is for the [Dev] Airtable base. 
## If you want to access the [Prod] base, you will need to change it. 
AIRTABLE_BASE_ID='appYfW7a2loPD26Vg'

## Named to conform to airtable-schema-generator's expectations
REACT_APP_AIRTABLE_API_KEY='YOUR-API-KEY-HERE'

## Needed for airtable-schema-generator if using auto mode
AIRTABLE_EMAIL='YOUR-EMAIL-HERE'
AIRTABLE_PASSWORD='YOUR-PASSWORD-HERE'

IMG_API_KEY='image-API-key-here'

## For Sentry logging
SENTRY_ORG='calblueprint'
SENTRY_PROJECT='dccentralkitchen'
SENTRY_AUTH_TOKEN='SENTRY_AUTH_TOKEN_HERE'