<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683063775827-osi81o6gn0re6db41tprk9qirth1op06.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683063775827-osi81o6gn0re6db41tprk9qirth1op06</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ8cyxDYuWQkkIF0l3I_-D9YBsU3DM_ow</string>
	<key>GCM_SENDER_ID</key>
	<string>683063775827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.calblueprint.HealthyCornersRewards</string>
	<key>PROJECT_ID</key>
	<string>quickstart-1587887313757</string>
	<key>STORAGE_BUCKET</key>
	<string>quickstart-1587887313757.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683063775827:ios:30967f641e62eb0bcf6ca6</string>
	<key>DATABASE_URL</key>
	<string>https://quickstart-1587887313757.firebaseio.com</string>
</dict>
</plist>