// Tweak default theme

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

.home .hero .description {
  text-align: left;
}

// Disable the packaged repo link, since we have three to manually display
.nav-links .repo-link {
  display: none
}

// vuepress-plugin-container 

.callout
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #f0f4f8
  .title
    font-weight bold

.custom-block
  &.rightlink
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right
  &.faq
    display block
    position relative
    border-radius 2px
    border-style solid
    border-color rgba(0,0,0,.2)
    border-width .5px
    margin -1px 0
    padding 1em
    background-color #fff
    h4
      margin-top 0
    figure, p
      &:last-child
        margin-bottom 0
        background-color #fff
    summary
      outline none
      cursor pointer
      font-weight 600
